*{

  background-color: #393939;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  transform: translate(0%, 100%);
  color: #a08c95;
  width: auto;
}