.employee {
	background-color: #2a2a2a;
	margin-bottom: 1rem;
	padding: 1rem;
	width: 38rem;
	border-radius: .3rem;

	.fullName {
		color: orange;
	}

	.notes {
		font-style: italic;
	}
}

p {
	margin-bottom: 0;
}

input {
	margin-top: 1rem;
	margin-bottom: 1rem;
}