<app-info-box title="Introduction" status="danger"
							body="This is the introduction section which will explain some topics."></app-info-box>
<app-info-box title="Section 1" status="success" highlight="true"
							body="This will deal with the rules we have to follow on the first section."></app-info-box>
<app-info-box title="Section 2" status="unfinished" highlight="false"
							body="This is still unfinished."></app-info-box>
<app-info-box title="Section 3" status="unfinished" highlight="false"
							body="This is still unfinished."></app-info-box>
